
<div class="row">
    <h1>Soft and hard skills</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/communication.png">
        <h4>Communication 90%</h4>
    </div>


    <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <img src="../../../assets/adaptability.png">
    <h4>Adaptability 85%</h4>
    </div>


    <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <img src="../../../assets/leadership1.png">
    <h4>Team leadership 95%</h4>
    </div>


    <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <img src="../../../assets/solving.png">
    <h4>Problem Solving 85%</h4>
    </div>

    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/english.png">
        <h4>English Language  95%</h4>
    </div>


    <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <img src="../../../assets/webdev.png">
    <h4>Web Development 90%</h4>
    </div>


    <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <img src="../../../assets/programming.png">
    <h4>HTML, CSS, JS, TS 90%</h4>
    </div>


    <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <img src="../../../assets/office.png">
    <h4>Microsoft Office 95%</h4>
    </div>
</div>


