<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo  1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Cumque mollitia minus porro rem, vitae voluptatum fuga
                aperiam explicabo magnam nam dolorum debitis laborum 
                autem architecto unde eos error neque eaque?</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo  2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Cumque mollitia minus porro rem, vitae voluptatum fuga
                aperiam explicabo magnam nam dolorum debitis laborum 
                autem architecto unde eos error neque eaque?</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo  3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Cumque mollitia minus porro rem, vitae voluptatum fuga
                aperiam explicabo magnam nam dolorum debitis laborum 
                autem architecto unde eos error neque eaque?</p>
        </ul>

    </div>
</div>
