<div class="row">
    <div class="container">
        <div class="logo">
            <img  src="../../../assets/Logo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/myrian.araujo.39"><img src="../../../assets/facebook.png"id="facebook"></a>
                <a href=""><img src="../../../assets/linkedin.svg"id="linkedin"></a>
                <a href=""><img src=""alt=""></a>
                <a href=""><img src=""alt=""></a>
                <a href=""><img src=""alt=""></a>
                <button type="button"  class="btn btn-outline-light">LOGIN</button>
            </div>
        </div>
    </div>
</div>


